<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Analytics dashboard</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="vendor/normalize-css/normalize.css">
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<div id="app"></div>
		<script id="charts-template" type="text/html">
			{{#charts}}
			<div class="chart">
				<div class="pie" id="{{identifier}}"></div>
				<div class="segments">
				{{#segments}}
					<div class="segment">
						<div class="title" style="color:{{color}}">{{name}}</div>
						<div class="values">
							<span>{{segmentPercentage}}%</span>
							<span class="amount">{{segmentValue}}{{suffix}}</span>
						</div>
					</div>
				{{/segments}}
				</div>
			</div>
			{{/charts}}
		</script>
		<script src="vendor/d3/d3.js"></script>
		<script src="vendor/mustache.js/mustache.js"></script>
		<script src="app.js"></script>
		<script src="init.js"></script>
	</body>
</html>

