html {
	/* 1em = 10px */
	font-size: 62.5%;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.chart {
	width: 19em;
	height: 19em;
	margin-left: 25px;
	margin-right: 25px;
	display: inline-block;
}
.segments {
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 6px;
	border-bottom: solid 1px #e3e3e3;
}
.segments > .segment {
	min-width: 50%;
	text-align: left;
}
.segments > .segment:nth-child(even) {
	text-align: right;
}
.segment .title {
	font-weight: 700;
	margin-bottom: 1px;
}
.segment .amount {
	color: #9d9d9d;
	margin-left: 6px;
}
.pie {
	width: 60%;
	height: 60%;
	margin: 20px auto 0;
}
.pie .pie-title {
	fill: #9d9d9d;
	font-size: 1.2em;
	text-anchor: middle;
	letter-spacing: .4px;
	text-transform: uppercase;
}
.pie .pie-total {
	font-size: 1.6em;
	text-anchor: middle;
}
